body
{
	margin: 0;
	text-align: center;
	vertical-align: center;
}

.textOnLeft{
	text-align: left;
	margin: 2em;
}

.left{
	float:left;
}

#container{
	margin: 1em;
	width: auto;
	display: flex;
    align-items: flex-start;
    justify-content: center;
}

.panel{
	color: black;
	border: 1px solid black;
	border-radius: 1em;
	padding: 1em;
  	display: flex;
  	align-items: center;
  	height: fit-content;
  	margin: 0.5em 0.25em 0 0.25em;
}

#predictionPanel{
	width: auto;
	flex-direction: row;
	justify-content: center;

}

#mainPanel{
	width: auto;
	height: auto !important;
	margin-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	flex-direction: column;
}

#secondPanel{
	width: auto;
	height: fit-content !important;
	flex-direction: column;
	/*margin-bottom: auto !important;*/
	margin-bottom: 0;
	align-self: bottom;
}
#deletePanel{
	width: 100%;
	box-sizing: border-box;
	height: fit-content !important;
	border-color: #FF7070 !important;/*light red*/
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
	flex-direction: column;
	align-self: bottom;
	align-content: center;
	margin-bottom: 0.5em !important;
	/*margin-top: 4em !important;*/
	border-radius: 0.5em !important;
}

#twoMainPanels{
	padding-top: 0.5em;
	padding-bottom: 0;
}

#subBlock1{
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
}

#subBlock2{
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	align-self: top;
	margin-top: 0;
}

canvas{
	margin: 0.5em 0.25em 0.5em 0.25em;
	background-color: #FFFFFF;
}

button{
	margin: 0.25em;
	color: black;
	background-color: #EEEEEE;/*light grey*/
	border: 1px solid black;
	border-radius: 0.5em;
}

.inlineBlockWrapper{
	width: fit-content;
	display: inline-block;
}

.enabledButton:hover{
	background-color: #212cff;/*dark blue*/
	color: #ffffff;/*white text*/
}

.disabledButton:hover{
	pointer-events: none !important;
}

#deletePointButton{
	margin-right: auto;
	margin-left: auto;
	background-color: #FF7070;/*light red*/
}

.disabledDeleteButton:hover{
	pointer-events: none !important;
}

.enabledDeleteButton:hover{
	background-color: #FF0000 !important;/*red*/
	outline: none ;
    border:1px solid black;
	color: #ffffff;/*white text*/
	outline: none !important;
	box-shadow: 0 0 1em #719ECE !important;

}

.emptyField{
	outline: none !important;
    border:2px solid #FF7070 !important;
    box-shadow: 0 0 0.25em #719ECE !important;
    border-radius: 0.25em;
}

#menu{
	height: fit-content;
}

#menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	background-color: #EEEEEE;/*light grey*/
}

#menu li
{
	float: left;
	background-color: #EEEEEE;/*light grey*/
	border-bottom: 1px solid black;
}

#menu li a
{
	display: block;
	color: black;
	text-align: center;
	padding: 0.5em;
	text-decoration: none;/*to avoid underlined links*/
}

#menu li div
{
	display: inline-block;
	text-align: center;
	padding: 0.5em;
}

#rightMenu
{
	float: none !important;
	overflow: hidden !important;
	border-bottom:1px solid black;
}

#textOnTheRightInRightMenu{
	margin-left: -2em;
	width: fit-content;
	float: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.currentPageMenu
{
	border-bottom: 1px solid white !important;
	border-right: 1px solid black !important;
	border-left: 1px solid black !important;
	background-color: white !important;
	border-radius: 0;
	pointer-events: none !important;
}

.clickableMenu a:hover
{
	/*-webkit-box-shadow:inset 0px 0px 0px 1px black;
    -moz-box-shadow:inset 0px 0px 0px 1px black;
    box-shadow:inset 0px 0px 0px 1px black;*/
	/*border-radius: 2em;*/
	/*border-bottom: 1px solid #212cff !important;*/
	border-right: 1px solid black !important;
	border-left: 1px solid black !important;
	border-top: 1px solid black !important;
	background-color: #212cff;/*dark blue*/
	color: white !important;/*white text*/
}

#etabList{
	padding: 0;
	width: 100%;
	list-style-type: none;
	margin-top: 2em;
}

#etabList li{
	margin: 0;
	color: black;
	height: fit-content;
	display: flex;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: auto;
}

#etabList div{
	width: 100%;
	padding-right:0;
}

#etabList li span{
	width: auto;
	height: fit-content;
	padding: 0;
	border: 1px solid black;
	border-radius: 2em;
	display: flex;
	margin: 0.25em 1em 0.25em 1em;
	background-color: #EEEEEE;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#etabList li span:not(#plus){
	flex: 1 0 auto;
}

#etabList input{
	margin: 1em;
	padding: 0;
}

#plus{
	flex: 0 1 auto;
	margin-right: -0.5em !important;
}

#etabList a{
	border-radius: 2em;
	display: block;
	width: auto;
	height: 100%;
	padding-right: auto;
	padding-left: auto;
	padding: 1em;
	color: black;
	text-align: center !important;
	text-decoration: none !important;/*to avoid underlined links*/
}
